@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Riot&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 20px;
}

.navBar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    /*position: fixed;*/
}

.logo {
    width: 30%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo img {
    width: 45px;
}

.logo h1 {
    font-family: "Protest Riot", sans-serif;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin-right: 10%;
    text-align: right;
    justify-content: right;
}

.menu-item {
    display: flex;
    text-decoration: none;
    padding: 15px 12px;
    color: black;
}

.day-promocao-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    margin-bottom: 30px;
    background-image: url("../img/imagem-exemplo-promocao.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 500px;

    /*border: 2px solid red;*/
}


.desc-promocao {
    width: 50%;
    margin: auto;
    margin-right: 10%;
    text-align: center;

    /*border: 1px solid green;*/
}

#cardapio{
    width: 80%;
    margin: auto;
    text-align: center;
}

.opcoes-cardapio {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.opcoes-cardapio div {
    width: 18%;
    align-items: center;
    position: relative;
    padding-bottom: 3px;
}

.opcoes-cardapio div::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: rgb(246, 55, 12);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.opcoes-cardapio  div:hover::after{
    width: 100%;
    /*Isso está aqui para efeitos visuais imediatos, mas só será feito no JavaScript quando o mouse clicar no elemento*/
}

.opcoes-cardapio div:hover{
    color: rgb(246, 55, 12);
    cursor: pointer;
}

.opcoes-cardapio * {
    text-align: center;
    font-size: 12px;
}

.opcoes-cardapio .material-symbols-outlined {
    width: 100%;
    font-size: 50px;
}

.section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.section img{
    width: 40%;
}

.card{
    width: 26%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.card img{
    width: 100% ;
    margin: auto;
    filter: drop-shadow(10px 7px 10px black);
}

.nome{
    font-size: 20px !important;
    font-weight: bold
}

.card p{
    font-size: 12px;
    margin: 0;
}

#promocoes {
    width: 80%;
    margin: auto;
    text-align: center;
}

.dias-semana{
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.dias-semana div{
    display: flex;
    width: 13%;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dias-semana div::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: rgb(246, 55, 12);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.dias-semana div:hover::after{
    width: 100%;
    /*Isso está aqui para efeitos visuais imediatos, mas só será feito no JavaScript quando o mouse clicar no elemento*/
}

.dias-semana div:hover{
    color: rgb(246, 55, 12);
    cursor: pointer;
}


.desc{
    width: 60%;
    text-align: justify;
    padding: 25px;
}

footer{
    margin-top: 50px;
    text-align: center;
    border-top: 10px solid rgb(106, 5, 5);
    background-color: rgb(246, 55, 12);
    color: white;
}

footer .logo{
    margin: auto;
}

footer .logo h1{
    font-size: 35px;
}

footer .logo img{
    width: 60px;
}

footer a{
    color: white;
}

#copyright{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(106, 5, 5);
    margin: auto;
}

#copyright a{
    width: 15%;
    text-decoration: none;
    text-align: center;
}